---
layout: default
bodyClass: "page-services"
---

<div class="intro">
  <div class="container">
    <div class="row justify-content-start">
      <div class="col-12 col-md-7 col-lg-6 order-2 order-md-1">
        {{ content }}
      </div>
    </div>
  </div>
</div>

<div class="container pt-0 pb-0">
  <div class="row">
    {% for blog in site.blogs %}
    <div class="col-12 col-md-6 mb-3">
      <div class="blog blog-summary">
        <div class="blog-content">
          <h2 class="blog-title">
            <a href="{{ blog.url | relative_url }}">{{ blog.title }}</a>
            <!-- <a>{{ worfklow.title }}</a> -->
          </h2>
          <p>{{ blog.excerpt | markdownify | strip_html | truncate: 100 }}</p>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>